<settings>
    <setting id="token" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTM0MzI1MTIsImlkIjoic2NyaXB0Lm1vZHVsZS50aGV0dmRiIiwib3JpZ19pYXQiOjE1MTMzNDYxMTJ9.SmnMDVlw-SeOBlv3QJlCgGbp5AYkNZKbmYgBK7SSWgFbtZ7TjAY8yHwR0Z4YrwrZo7MQQWvJdNdzvI58hHDBnUDodHm51FKvNIVXtn9P_gVV2YHyNbYYKwDlNN5GMa2P00FvlKlxbHLdldEgezp7_B1WrpeYONMgoVyxHnSUgJJinCchrbqKsujJStxYeUQ5xfkYahjX0uJYVdjtRrXXjFp_m29op8JkwirphuEsiTYbhn0kudcfehod-WZ4MqqpL92PaDki-_tAkMx6ITkbSJZK8jFGTskdrueiMM--D3bIBkCdGnYrMGJqUnfD51pOg1pOrbbw82vSipWKjQfzig" />
</settings>
