<settings version="2">
    <setting id="allow_directory_listing">true</setting>
    <setting id="download.service.port">59425</setting>
    <setting id="port_directory_listing">8585</setting>
    <setting id="report_error" default="true">false</setting>
    <setting id="source.service.port" default="true">8585</setting>
</settings>
